body{
  background-color: #090B1A;
  text-align: right;
  font-size: 16px;
}
h1{
  color: white;
}
p{
  color: white;
}
td{
  color: white;
  width: 80px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  padding-right: 50px;
}
span{
  color: #AA5CDB;
}
table{
  padding: 85px 40px 50px 60px;
}
/************classes***********/
.card{
  background-color: #1B1938;
  width: 1100px;
  text-align: left;
  margin: 10% auto auto;
}
.image{
  float: right;
  background: #AA5CDB;
  background-blend-mode:color;
}
.title{
  width: 35%;
  padding: 60px 0 5px 60px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.info-text{
  width: 35%;
  padding: 0 40px 40px 60px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: .2rem;
  line-height: 1.5;
}
.data-value{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 25px;
}
.data-label{
  font-size: 10px;
  font-family: 'Lexend Deca', sans-serif;
  letter-spacing: .2rem;
}
